{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css"
          integrity="sha512-0V10q+b1Iumz67sVDL8LPFZEEavo6H/nBSyghr7mm9JEQkOAm91HNoZQRvQdjennBb/oEuW+8oZHVpIKq+d25g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'bloom/css/sb-admin-2.min.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<div id="wrapper">
    {% include 'bloom/includes/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include 'bloom/includes/nav.html' %}
            <div class="container">
                {% block content %}f
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/require.js' %}"></script>
<script>
    requirejs.config({
        baseUrl: '{% static 'js' %}',
        paths: {
            jquery: 'lib/jquery.min',
            ko: 'lib/knockout',
            bootstrap: 'lib/bootstrap.bundle.min',
            jstree: 'lib/jstree.min',
            'get-cookie': 'lib/get-cookie',
            bootbox: 'lib/bootbox.all.min',
            bootstrapMenu: 'lib/BootstrapMenu.min'
        },
        shim: {
            bootstrap: ['jquery']
        }
    });
    require(['bootstrap']);
</script>
{% block javascript %}
{% endblock %}
</body>
</html>