{% load i18n %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <li class="nav-item">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'bloom:index' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">{% trans 'Bloom' %}</div>
        </a>
        <hr class="sidebar-divider my-0">
    </li>
    {% for item in bloom_sidebar %}
        <li class="nav-item {{ item.active|yesno:'active,' }}">
            {% if item.children %}
                <a class="nav-link {{ item.children_active|yesno:',collapsed' }}" href="#" data-toggle="collapse"
                   data-target="#collapse-{{ item.id }}">
                    <i class="fas fa-fw {{ item.icon_class }}"></i>
                    <span>{{ item.text }}</span>
                </a>
                <div id="collapse-{{ item.id }}" class="collapse {{ item.children_active|yesno:'show,' }}">
                    <div class="bg-white py-2 collapse-inner rounded">
                        {% for child_item in item.children %}
                            <a class="collapse-item {{ child_item.active|yesno:'active,' }}"
                               href="{{ child_item.path }}">{{ child_item.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <a class="nav-link" href="{{ item.path }}">
                    <i class="fas fa-fw {{ item.icon_class }}"></i>
                    <span>{{ item.text }}</span>
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
