{% extends 'frontend/base.html' %}
{% block HeadTitle %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post-container">
        <h3 class="title">{{ post.title }}</h3>
        <div class="created">
            Created at {{ post.created_at }} by {{ post.created_by }}
        </div>
        <div class="content">
            {{ post.content|safe }}
        </div>

        {% for cat in post.cateogry_set %}
            <div class="post">
                {{ cat.name }}
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascript %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}